/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.navbar {
  style: none;
  margin: 0;
}

.status {
  display: inline;
  padding: 0 100px 0 0;
}

header {
  background-color: #ff6600;
  height: 24px;
}

.label {
  margin-right: 20px;
}

body {
  padding: 10px 50px;
}

.container {
  background-color: rgb(246, 246, 239);
}

.title {
  display: inline;
  padding: 0 100px 0 0;
  margin: 0px;
}

h1 {
  margin: 0px;
}

.status {
  font-size: .75em;
}

#comments {
  font-size: .75em;
}

h4 {
  margin: 0;
}

.show {
  font-size: .75em;
}

.count {
  font-size: .75em;
}

.link {
  font-size: .75em;
}
